nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    /**/
    background-color: #46433a;
    /*min-height: 5vh;*/
}

nav ul {
    flex-direction: row;
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.nav-item {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
}

.white {
    color: white;
}
.gray {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

a.gray:hover {
    text-transform: none;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}
